<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>UDF提权</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
<p>连接信息：</p>
<table border="1" cellspacing="0">
    <tr>
        <th>ip</th>
        <th>端口</th>
        <th>用户名</th>
        <th>密码</th>
    </tr>
    <tr>
        <td>{{ ip }}</td>
        <td>{{ port }}</td>
        <td>{{ username }}</td>
        <td>{{ password }}</td>
    </tr>
</table>
<p>连接结果：{{ notice }}</p>
{% if notice == "连接成功！" %}

    <p>提权结果：{{ res.success }}</p>
    {% if res.success == False %}
        <p>失败原因：{{ res.error }}</p>
    {% else %}
        <p>执行函数：sys_eval；文件路径：{{ res.filename }}</p>
        <button type="button" onclick="open1()" id="exec_btn">执行命令</button>
        <textarea id="responseText" style="width: 500px; height: 300px;" hidden></textarea>
        <br>
        <input type="text" id="command" style="width: 500px; height: 30px;" hidden>
        <br>
        <button type="button" onclick="send_msg()" id="exec_send" hidden>执行</button>
        <button type="button" onclick="close_conn()" id="close_conn" hidden>销毁</button>
    {% endif %}


{% endif %}

<script type="application/javascript">
    document.getElementById("command").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            send_msg();
        }
    });

    {#var ws = null;#}
    var id = Math.floor(Math.random() * 999999);
    var chat_content = document.getElementById("responseText");
    var command_text = document.getElementById("command");

    function open1() {
        chat_content.removeAttribute("hidden");
        command_text.removeAttribute("hidden");
        document.getElementById("exec_btn").setAttribute("hidden", "hidden");
        document.getElementById("exec_send").removeAttribute("hidden");
        document.getElementById("close_conn").removeAttribute("hidden");

        fetch("/exec/mysql", {
            method: "POST",
            body: "cmd=init&id=" + id,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
            .then(response => response.text())
            .then(data => {
                // 处理服务器响应的数据
                chat_content.value = chat_content.value + data + "\n"
            })
            .catch(error => {
                // 处理请求错误
            });


    }

    function send_msg() {
        chat_content.value = chat_content.value + "命令：" + command_text.value + "\n";
        fetch("/exec/mysql", {
            method: "POST",
            body: "cmd=" + btoa(unescape(encodeURIComponent(command_text.value))) + "&id=" + id,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
            .then(response => response.text())
            .then(data => {
                // 处理服务器响应的数据
                chat_content.value = chat_content.value + data + "\n"
                chat_content.scrollTop = chat_content.scrollHeight;
            })
            .catch(error => {
                // 处理请求错误
            });
        command_text.value = '';

    }

    function close_conn() {
        fetch("/exec/mysql", {
            method: "POST",
            body: "cmd=close&id=" + id,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            }
        })
            .then(response => response.text())
            .then(data => {
                // 处理服务器响应的数据
                {#chat_content.value = chat_content.value + data#}
            })
            .catch(error => {
                // 处理请求错误
            });
        chat_content.value = '';
        chat_content.setAttribute("hidden", 'hidden');
        command_text.setAttribute("hidden", 'hidden');
        document.getElementById("exec_btn").removeAttribute("hidden")
        document.getElementById("exec_send").setAttribute("hidden", 'hidden');
        document.getElementById("close_conn").setAttribute("hidden", 'hidden');
    }
</script>
</body>